[submodule "OpenOCD"]
	path = OpenOCD
	url = https://github.com/arduino/OpenOCD
[submodule "hidapi"]
	path = hidapi
	url = git://github.com/signal11/hidapi.git
[submodule "libusb"]
        path = libusb
        url = git://github.com:libusb/libusb.git
[submodule "dfu-util"]
        path = dfu-util
        url = git://git.code.sf.net/p/dfu-util/dfu-util

